<h1 class="center" id="pageHead">Burger Time!</h1>
<img class="center" src="/assets/img/reviewbro.png"></img>

<div class="center" id="burgers1">
<h2 id="burgersHead">Burgers</h2>
<ul id="burgers">
  {{#each burgers}}
    {{#unless devoured}}
      {{> burgers/devour_button devoured=true}}
    {{/unless}}
  {{/each}}
</ul>
</div>

<div class="center" id="burgers2">
<h2 id="burgersHead2">Devoured Burgers</h2>
 <ul id="burgList">
  {{#each burgers}}
    {{#if devoured}}
      {{> burgers/devoured_burgers devoured=false}}
    {{/if}}
  {{/each}}
 </ul>
</div>

<div class="center" id="orderForm">
<h2 id="orderHead">Place your order!</h2>
<form class="create-form">

  <div class="form-group">
    <label for="ca"></label>
    <input type="text" id="ca" name="burger_name">
  </div>

  <button id="submitButton" type="submit">Order!</button>
</form>
</div>